{% extends "base.html" %}
{% block title %} Hoodie Heaven{% endblock %}

{% block content %}
{% include 'nav1.html' %}
<section class="shop"> 
    <h1>Our Hoodies</h1> 
    <div class="product-grid"> 
        {% for product in products %} 
        <div class="product-card"> 
            <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3> 
            <p class="price">
                ₹{{ product.price }} 
            </p>

                <div class="actions"> 
                    <form action="{{ url_for('add_to_cart',product_id=product.id) }}" method="POST" style="display:inline;"> 
                        <input type="hidden" name="name" value="{{ product.name }}"> 
                        <input type="hidden" name="image" value="{{ product.image }}"> 
                        <input type="hidden" name="price" value="{{ product.price }}"> 
                        <button class="btn-cart">Add to Cart</button> 
                    </form> 
                    <form action="{{ url_for('add_to_heart') }}" method="POST">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button class="btn-heart">❤</button>
                    </form>
                    <form action="{{ url_for('buy_now', product_id=product.id) }}" method="GET"> 
                        <button type="submit" class="btn-buy">Buy Now</button> 
                    </form>
                </div>
        </div>
        {% endfor %}
</section>
{% endblock %}
